In [21]:
import pandas as pd
train = pd.read_csv('training.csv.xls')

In [23]:
cols = train.columns
train.shape
cols

Index(['TransactionId', 'BatchId', 'AccountId', 'SubscriptionId', 'CustomerId',
       'CurrencyCode', 'CountryCode', 'ProviderId', 'ProductId',
       'ProductCategory', 'ChannelId', 'Amount', 'Value',
       'TransactionStartTime', 'PricingStrategy', 'FraudResult'],
      dtype='object')

In [24]:
train.TransactionStartTime = pd.to_datetime(train.TransactionStartTime, format='%Y-%m-%d %H:%M:%S')

In [26]:
#fraud.head(50)
#gtcounts = train.groupby('CustomerId').count()
train['count'] = train.groupby('CustomerId')['CustomerId'].transform('count')

In [27]:
train.head()
cols = train.columns
cols = ['TransactionId', 'BatchId', 'AccountId', 'SubscriptionId', 'CustomerId',
       'CurrencyCode', 'CountryCode', 'ProviderId', 'ProductId',
       'ProductCategory', 'ChannelId', 'Amount', 'Value',
       'TransactionStartTime', 'PricingStrategy', 'count','FraudResult']
train = train[cols]

In [28]:
train.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,count,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15 02:18:49+00:00,2,119,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15 02:19:08+00:00,2,119,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15 02:44:21+00:00,2,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,2018-11-15 03:32:55+00:00,2,38,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15 03:34:21+00:00,2,38,0

In [29]:
train.sort_values(by=['TransactionStartTime'],inplace=True)
train.reset_index(drop=True, inplace=True)
train['TransactionStartTime']=[i for i in range(train.shape[0])]

In [30]:
train.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,count,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,0,2,119,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,1,2,119,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2,2,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,3,2,38,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,4,2,38,0

## Taking column from index 7 to second last (ie excluding target column)

In [33]:
X = train.iloc[:,7:-1].values
y = train.iloc[:,-1].values

In [34]:
X

array([['ProviderId_6', 'ProductId_10', 'airtime', ..., 0, 2, 119],
       ['ProviderId_4', 'ProductId_6', 'financial_services', ..., 1, 2,
        119],
       ['ProviderId_6', 'ProductId_1', 'airtime', ..., 2, 2, 2],
       ...,
       ['ProviderId_4', 'ProductId_6', 'financial_services', ..., 95659,
        2, 43],
       ['ProviderId_6', 'ProductId_19', 'tv', ..., 95660, 2, 524],
       ['ProviderId_4', 'ProductId_6', 'financial_services', ..., 95661,
        2, 524]], dtype=object)

In [36]:
X.shape

(95662, 9)

In [37]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_0 = LabelEncoder()
X[:, 0] = labelencoder_X_0.fit_transform(X[:, 0])
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])
labelencoder_X_3 = LabelEncoder()
X[:, 3] = labelencoder_X_3.fit_transform(X[:, 3])

In [38]:
X

array([[5, 1, 0, ..., 0, 2, 119],
       [3, 19, 2, ..., 1, 2, 119],
       [5, 0, 0, ..., 2, 2, 2],
       ...,
       [3, 19, 2, ..., 95659, 2, 43],
       [5, 8, 7, ..., 95660, 2, 524],
       [3, 19, 2, ..., 95661, 2, 524]], dtype=object)

In [39]:
onehotencoder = OneHotEncoder(categorical_features = [0,2,7])
X= onehotencoder.fit_transform(X).toarray()

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [40]:
X.shape

(95662, 25)

In [41]:
from sklearn.preprocessing import StandardScaler 
X= StandardScaler().fit_transform(X)

In [165]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size = 0.1, random_state = 42)

In [166]:
import keras
from keras.models import Sequential
from keras.layers import Dense,Dropout
from keras import backend as K
import numpy as np
from keras.callbacks import Callback
from sklearn.metrics import confusion_matrix, f1_score, precision_score, recall_score

# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim = 64, init = 'uniform', activation = 'relu', input_dim = 25))
classifier.add(Dropout(0.1))

# Adding the second hidden layer
classifier.add(Dense(output_dim = 128, init = 'uniform',activation = 'relu'))
classifier.add(Dropout(0.1))
classifier.add(Dense(output_dim = 128, init = 'uniform',activation = 'relu'))
classifier.add(Dropout(0.1))
# Adding the output layer
classifier.add(Dense(output_dim = 1, init = 'uniform',activation = 'sigmoid'))

# Compiling the ANN
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 16, epochs = 4, validation_split=0.1)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=25, units=64, kernel_initializer="uniform")`
  del sys.path[0]
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=128, kernel_initializer="uniform")`
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=128, kernel_initializer="uniform")`
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`

Train on 69736 samples, validate on 7749 samples
Epoch 1/4
69736/69736 [==============================] - 10s 138us/step - loss: 0.0081 - acc: 0.9981 - val_loss: 0.0021 - val_acc: 0.9991
Epoch 2/4
69736/69736 [==============================] - 8s 115us/step - loss: 0.0032 - acc: 0.9989 - val_loss: 0.0017 - val_acc: 0.9994
Epoch 3/4
69736/69736 [==============================] - 10s 140us/step - loss: 0.0034 - acc: 0.9989 - val_loss: 0.0016 - val_acc: 0.9992
Epoch 4/4
69736/69736 [==============================] - 8s 117us/step - loss: 0.0031 - acc: 0.9989 - val_loss: 0.0024 - val_acc: 0.9992

In [179]:
y_preds = classifier.predict(X_test)

In [180]:
y_pred_final=[]
for i in range(len(y_preds)):
    if y_preds[i][0]<0.0017003622:
        y_pred_final.append(0)
    else:
        y_pred_final.append(1)

In [181]:
from sklearn.metrics import f1_score, accuracy_score, recall_score
from sklearn.metrics import confusion_matrix

print("Accuracy_score",accuracy_score(y_test, y_pred_final))

print("F1_score",f1_score(y_test, y_pred_final))

print("Recall score",recall_score(y_test, y_pred_final))
confusion_matrix(y_test, y_pred_final)

Accuracy_score 0.9980255516840882
F1_score 0.4848484848484849
Recall score 0.6153846153846154

array([[8585,   12],
       [   5,    8]])

In [118]:
test = pd.read_csv('test.csv.xls')

In [119]:
test.shape

(45019, 15)

In [122]:
test.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy
0,TransactionId_50600,BatchId_35028,AccountId_2441,SubscriptionId_4426,CustomerId_2857,UGX,256,ProviderId_5,ProductId_3,airtime,ChannelId_3,1000.0,1000,2019-02-13T10:01:40Z,4
1,TransactionId_95109,BatchId_45139,AccountId_3439,SubscriptionId_2643,CustomerId_3874,UGX,256,ProviderId_5,ProductId_15,financial_services,ChannelId_3,2000.0,2000,2019-02-13T10:02:12Z,2
2,TransactionId_47357,BatchId_74887,AccountId_4841,SubscriptionId_3829,CustomerId_2857,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-50.0,50,2019-02-13T10:02:30Z,2
3,TransactionId_28185,BatchId_11025,AccountId_2685,SubscriptionId_4626,CustomerId_3105,UGX,256,ProviderId_5,ProductId_10,airtime,ChannelId_3,3000.0,3000,2019-02-13T10:02:38Z,4
4,TransactionId_22140,BatchId_29804,AccountId_4841,SubscriptionId_3829,CustomerId_3105,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-60.0,60,2019-02-13T10:02:58Z,2

In [123]:
test['count'] = test.groupby('CustomerId')['CustomerId'].transform('count')

test.head()
cols = test.columns
cols = ['TransactionId', 'BatchId', 'AccountId', 'SubscriptionId', 'CustomerId',
       'CurrencyCode', 'CountryCode', 'ProviderId', 'ProductId',
       'ProductCategory', 'ChannelId', 'Amount', 'Value',
       'TransactionStartTime', 'PricingStrategy', 'count']
test = test[cols]

In [124]:
test.sort_values(by=['TransactionStartTime'],inplace=True)
test.reset_index(drop=True, inplace=True)
test['TransactionStartTime']=[i for i in range(test.shape[0])]

In [125]:
test.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,count
0,TransactionId_50600,BatchId_35028,AccountId_2441,SubscriptionId_4426,CustomerId_2857,UGX,256,ProviderId_5,ProductId_3,airtime,ChannelId_3,1000.0,1000,0,4,12
1,TransactionId_95109,BatchId_45139,AccountId_3439,SubscriptionId_2643,CustomerId_3874,UGX,256,ProviderId_5,ProductId_15,financial_services,ChannelId_3,2000.0,2000,1,2,63
2,TransactionId_47357,BatchId_74887,AccountId_4841,SubscriptionId_3829,CustomerId_2857,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-50.0,50,2,2,12
3,TransactionId_28185,BatchId_11025,AccountId_2685,SubscriptionId_4626,CustomerId_3105,UGX,256,ProviderId_5,ProductId_10,airtime,ChannelId_3,3000.0,3000,3,4,65
4,TransactionId_22140,BatchId_29804,AccountId_4841,SubscriptionId_3829,CustomerId_3105,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-60.0,60,4,2,65

In [128]:
X_ = test.iloc[:,7:].values

In [129]:
X_.shape

(45019, 9)

In [130]:
X_[:, 0] = labelencoder_X_0.fit_transform(X_[:, 0])
X_[:, 1] = labelencoder_X_1.fit_transform(X_[:, 1])
X_[:, 2] = labelencoder_X_2.fit_transform(X_[:, 2])
X_[:, 3] = labelencoder_X_3.fit_transform(X_[:, 3])

In [131]:
#onehotencoder = OneHotEncoder(categorical_features = [0,2,7])
X_= onehotencoder.transform(X_).toarray()

In [132]:
X_.shape

(45019, 25)

In [133]:
X_= StandardScaler().fit_transform(X_)

In [134]:
X_.shape

(45019, 25)

In [172]:
y_pred = classifier.predict(X_)

In [174]:
y_pred.mean()

0.0036658286

In [175]:
y_pred_final=[]
for i in range(len(y_pred)):
    if y_pred[i][0]<0.0036658286:
        y_pred_final.append(0)
    else:
        y_pred_final.append(1)

In [176]:
#final_submission = pd.DataFrame(data={'TransactionId':test.TransactionId, 'FraudResult':rfc_pred})
final_submission = pd.DataFrame(data={'TransactionId':test.TransactionId, 'FraudResult':y_pred_final})

In [177]:
final_submission.to_csv('submission.csv', index=False)

In [178]:
final_submission.FraudResult.value_counts()

0    44639
1      380
Name: FraudResult, dtype: int64