In [1]:
import pandas as pd
train = pd.read_csv('training.csv.xls')

In [2]:
train.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15T02:18:49Z,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15T02:19:08Z,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15T02:44:21Z,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,2018-11-15T03:32:55Z,2,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15T03:34:21Z,2,0

In [5]:
train.TransactionStartTime = pd.to_datetime(train.TransactionStartTime, format='%Y-%m-%d %H:%M:%S')

In [6]:
train.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15 02:18:49,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15 02:19:08,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15 02:44:21,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,2018-11-15 03:32:55,2,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15 03:34:21,2,0

In [7]:
cols = train.columns
train.shape
cols

Index(['TransactionId', 'BatchId', 'AccountId', 'SubscriptionId', 'CustomerId',
       'CurrencyCode', 'CountryCode', 'ProviderId', 'ProductId',
       'ProductCategory', 'ChannelId', 'Amount', 'Value',
       'TransactionStartTime', 'PricingStrategy', 'FraudResult'],
      dtype='object')

In [10]:
train = train.drop(['ProductId','ChannelId','TransactionStartTime'],axis=1)

In [11]:
train.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductCategory,Amount,Value,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,airtime,1000.0,1000,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,financial_services,-20.0,20,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,airtime,500.0,500,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,utility_bill,20000.0,21800,2,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,financial_services,-644.0,644,2,0

In [15]:
X = train.iloc[:,7:]

In [16]:
train.shape

(95662, 13)

In [17]:
non_fraud = X[X.FraudResult==0].drop_duplicates()
fraud = X[X.FraudResult==1]
ls = [non_fraud,fraud]

In [18]:
train = pd.concat(ls)

In [ ]:
train.head(50)

In [21]:
X = train.iloc[:,:-1]
y = train.iloc[:,-1]

In [33]:
X_cols = train.iloc[:,:-1].columns
X_cols

Index(['ProviderId', 'ProductCategory', 'Amount', 'Value', 'PricingStrategy'], dtype='object')

In [22]:
X.shape

(3131, 5)

In [24]:
X=X.values
y=y.values

In [25]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_0 = LabelEncoder()
X[:, 0] = labelencoder_X_0.fit_transform(X[:, 0])
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 4] = labelencoder_X_2.fit_transform(X[:, 4])

In [26]:
onehotencoder = OneHotEncoder(categorical_features = [0,1,4])
X= onehotencoder.fit_transform(X).toarray()

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [46]:
y=y.reshape(3131,1)

In [28]:
from sklearn.preprocessing import MinMaxScaler 
X= MinMaxScaler().fit_transform(X)

In [90]:
X.shape

(3131, 21)

In [ ]:
#X_test = MinMaxScaler().fit_transform(X_test)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 42)

In [ ]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state = 2) 
X_train_res, y_train_res = sm.fit_sample(X_train, y_train.ravel())

In [ ]:
from sklearn.ensemble import RandomForestClassifier
# train model
rfc = RandomForestClassifier(n_estimators=1200).fit(X_train_res, y_train_res)

In [ ]:
from sklearn.metrics import f1_score, accuracy_score, recall_score
from sklearn.metrics import confusion_matrix
# predict on test set
rfc_pred = rfc.predict(X_test)


print("Accuracy_score",accuracy_score(y_test, rfc_pred))

print("F1_score",f1_score(y_test, rfc_pred))

print("Recall score",recall_score(y_test, rfc_pred))
confusion_matrix(y_test, rfc_pred)

In [265]:
test = pd.read_csv('test.csv.xls')

In [266]:
test.shape

(45019, 15)

In [267]:
for i in test.columns:
    len(test.TransactionId.value_counts())
    print(i)
    exec("print(    len(test.%s.value_counts()))"%(i))

TransactionId
45019
BatchId
44684
AccountId
2471
SubscriptionId
2470
CustomerId
5018
CurrencyCode
1
CountryCode
1
ProviderId
6
ProductId
26
ProductCategory
9
ChannelId
5
Amount
998
Value
944
TransactionStartTime
44018
PricingStrategy
4

In [268]:
test = test.drop(['ProductId','ChannelId','TransactionStartTime'],axis=1)

In [270]:
test.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductCategory,Amount,Value,PricingStrategy
0,TransactionId_50600,BatchId_35028,AccountId_2441,SubscriptionId_4426,CustomerId_2857,UGX,256,ProviderId_5,airtime,1000.0,1000,4
1,TransactionId_95109,BatchId_45139,AccountId_3439,SubscriptionId_2643,CustomerId_3874,UGX,256,ProviderId_5,financial_services,2000.0,2000,2
2,TransactionId_47357,BatchId_74887,AccountId_4841,SubscriptionId_3829,CustomerId_2857,UGX,256,ProviderId_4,financial_services,-50.0,50,2
3,TransactionId_28185,BatchId_11025,AccountId_2685,SubscriptionId_4626,CustomerId_3105,UGX,256,ProviderId_5,airtime,3000.0,3000,4
4,TransactionId_22140,BatchId_29804,AccountId_4841,SubscriptionId_3829,CustomerId_3105,UGX,256,ProviderId_4,financial_services,-60.0,60,2

In [273]:
X_ = test.iloc[:,7:].values

In [274]:
X_.shape

(45019, 5)

In [275]:
X_[:, 0] = labelencoder_X_0.fit_transform(X_[:, 0])
X_[:, 1] = labelencoder_X_1.fit_transform(X_[:, 1])
X_[:, 4] = labelencoder_X_2.fit_transform(X_[:, 4])

In [276]:
onehotencoder = OneHotEncoder(categorical_features = [0,1,4])
X_= onehotencoder.fit_transform(X_).toarray()

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [277]:
X_.shape

(45019, 21)

In [278]:
X_= MinMaxScaler().fit_transform(X_)

In [279]:
X_.shape

(45019, 21)

In [280]:
rfc_pred = rfc.predict(X_)

In [281]:
rfc_pred

array([0, 0, 0, ..., 0, 0, 0])

In [282]:
final_submission = pd.DataFrame(data={'TransactionId':test.TransactionId, 'FraudResult':rfc_pred})

In [283]:
final_submission.to_csv('submission.csv', index=False)