In [247]:
import pandas as pd
train = pd.read_csv('training.csv.xls')

In [248]:
train.tail()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
95657,TransactionId_89881,BatchId_96668,AccountId_4841,SubscriptionId_3829,CustomerId_3078,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-1000.0,1000,2019-02-13T09:54:09Z,2,0
95658,TransactionId_91597,BatchId_3503,AccountId_3439,SubscriptionId_2643,CustomerId_3874,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2019-02-13T09:54:25Z,2,0
95659,TransactionId_82501,BatchId_118602,AccountId_4841,SubscriptionId_3829,CustomerId_3874,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2019-02-13T09:54:35Z,2,0
95660,TransactionId_136354,BatchId_70924,AccountId_1346,SubscriptionId_652,CustomerId_1709,UGX,256,ProviderId_6,ProductId_19,tv,ChannelId_3,3000.0,3000,2019-02-13T10:01:10Z,2,0
95661,TransactionId_35670,BatchId_29317,AccountId_4841,SubscriptionId_3829,CustomerId_1709,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-60.0,60,2019-02-13T10:01:28Z,2,0

In [43]:
cols = train.columns
train.shape
cols

Index(['TransactionId', 'BatchId', 'AccountId', 'SubscriptionId', 'CustomerId',
       'CurrencyCode', 'CountryCode', 'ProviderId', 'ProductId',
       'ProductCategory', 'ChannelId', 'Amount', 'Value',
       'TransactionStartTime', 'PricingStrategy', 'FraudResult'],
      dtype='object')

In [44]:
for i in cols:
    len(train.TransactionId.value_counts())
    print(i)
    exec("print(len(train.%s.value_counts()))"%(i))

TransactionId
95662
BatchId
94809
AccountId
3633
SubscriptionId
3627
CustomerId
3742
CurrencyCode
1
CountryCode
1
ProviderId
6
ProductId
23
ProductCategory
9
ChannelId
4
Amount
1676
Value
1517
TransactionStartTime
94556
PricingStrategy
4
FraudResult
2

In [6]:
cols

Index(['TransactionId', 'BatchId', 'AccountId', 'SubscriptionId', 'CustomerId',
       'CurrencyCode', 'CountryCode', 'ProviderId', 'ProductId',
       'ProductCategory', 'ChannelId', 'Amount', 'Value',
       'TransactionStartTime', 'PricingStrategy', 'FraudResult'],
      dtype='object')

In [7]:
train.FraudResult.value_counts()

0    95469
1      193
Name: FraudResult, dtype: int64

In [60]:
train = train.drop(['ProductId','ChannelId'],axis=1)

In [61]:
train.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductCategory,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,airtime,1000.0,1000,0,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,financial_services,-20.0,20,1,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,airtime,500.0,500,2,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,utility_bill,20000.0,21800,3,2,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,financial_services,-644.0,644,4,2,0

In [62]:
train.sort_values(by=['TransactionStartTime'],inplace=True)
train.reset_index(drop=True, inplace=True)
train['TransactionStartTime']=[i for i in range(train.shape[0])]

In [63]:
X = train.iloc[:,7:13].values
y = train.iloc[:,-1].values

In [64]:
train.iloc[:,12].value_counts()

2    79848
4    13562
1     1867
0      385
Name: PricingStrategy, dtype: int64

In [65]:
X.shape

(95662, 6)

In [66]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_0 = LabelEncoder()
X[:, 0] = labelencoder_X_0.fit_transform(X[:, 0])
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 5] = labelencoder_X_2.fit_transform(X[:, 5])

In [67]:
onehotencoder = OneHotEncoder(categorical_features = [0,1,5])
X= onehotencoder.fit_transform(X).toarray()

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [68]:
X.shape

(95662, 22)

In [69]:
from sklearn.preprocessing import MinMaxScaler 
X= MinMaxScaler().fit_transform(X)

In [70]:
#X_test = MinMaxScaler().fit_transform(X_test)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 42)

In [202]:
from sklearn.ensemble import RandomForestClassifier
# train model
rfc = RandomForestClassifier(n_estimators=600).fit(X_train, X_train)

In [203]:
from sklearn.metrics import f1_score, accuracy_score, recall_score
from sklearn.metrics import confusion_matrix
# predict on test set
rfc_pred = rfc.predict(X_test)

print("Accuracy_score",accuracy_score(y_test, rfc_pred))

print("F1_score",f1_score(y_test, rfc_pred))

print("Recall score",recall_score(y_test, rfc_pred))
confusion_matrix(y_test, rfc_pred)

Accuracy_score 1.0
F1_score 1.0
Recall score 1.0

array([[9546,    0],
       [   0,   21]])

In [242]:
test = pd.read_csv('test.csv.xls')

In [243]:
test.shape

(45019, 15)

In [244]:
for i in test.columns:
    len(test.TransactionId.value_counts())
    print(i)
    exec("print(    len(test.%s.value_counts()))"%(i))

TransactionId
45019
BatchId
44684
AccountId
2471
SubscriptionId
2470
CustomerId
5018
CurrencyCode
1
CountryCode
1
ProviderId
6
ProductId
26
ProductCategory
9
ChannelId
5
Amount
998
Value
944
TransactionStartTime
44018
PricingStrategy
4

In [245]:
test = test.drop(['ProductId','ChannelId'],axis=1)

In [246]:
test.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductCategory,Amount,Value,TransactionStartTime,PricingStrategy
0,TransactionId_50600,BatchId_35028,AccountId_2441,SubscriptionId_4426,CustomerId_2857,UGX,256,ProviderId_5,airtime,1000.0,1000,2019-02-13T10:01:40Z,4
1,TransactionId_95109,BatchId_45139,AccountId_3439,SubscriptionId_2643,CustomerId_3874,UGX,256,ProviderId_5,financial_services,2000.0,2000,2019-02-13T10:02:12Z,2
2,TransactionId_47357,BatchId_74887,AccountId_4841,SubscriptionId_3829,CustomerId_2857,UGX,256,ProviderId_4,financial_services,-50.0,50,2019-02-13T10:02:30Z,2
3,TransactionId_28185,BatchId_11025,AccountId_2685,SubscriptionId_4626,CustomerId_3105,UGX,256,ProviderId_5,airtime,3000.0,3000,2019-02-13T10:02:38Z,4
4,TransactionId_22140,BatchId_29804,AccountId_4841,SubscriptionId_3829,CustomerId_3105,UGX,256,ProviderId_4,financial_services,-60.0,60,2019-02-13T10:02:58Z,2

In [227]:
test.sort_values(by=['TransactionStartTime'],inplace=True)
test.reset_index(drop=True, inplace=True)
test['TransactionStartTime']=[i for i in range(test.shape[0])]
#test['TransactionStartTime'] = MinMaxScaler(feature_range = (0,test.shape[0]-1)).fit_transform(test.TransactionStartTime.to_frame())

In [228]:
test.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductCategory,Amount,Value,TransactionStartTime,PricingStrategy
0,TransactionId_50600,BatchId_35028,AccountId_2441,SubscriptionId_4426,CustomerId_2857,UGX,256,ProviderId_5,airtime,1000.0,1000,0,4
1,TransactionId_95109,BatchId_45139,AccountId_3439,SubscriptionId_2643,CustomerId_3874,UGX,256,ProviderId_5,financial_services,2000.0,2000,1,2
2,TransactionId_47357,BatchId_74887,AccountId_4841,SubscriptionId_3829,CustomerId_2857,UGX,256,ProviderId_4,financial_services,-50.0,50,2,2
3,TransactionId_28185,BatchId_11025,AccountId_2685,SubscriptionId_4626,CustomerId_3105,UGX,256,ProviderId_5,airtime,3000.0,3000,3,4
4,TransactionId_22140,BatchId_29804,AccountId_4841,SubscriptionId_3829,CustomerId_3105,UGX,256,ProviderId_4,financial_services,-60.0,60,4,2

In [231]:
X_ = test.iloc[:,7:].values

In [232]:
X_.shape

(45019, 6)

In [233]:
X_[:, 0] = labelencoder_X_0.fit_transform(X_[:, 0])
X_[:, 1] = labelencoder_X_1.fit_transform(X_[:, 1])
X_[:, 5] = labelencoder_X_2.fit_transform(X_[:, 5])

In [234]:
onehotencoder = OneHotEncoder(categorical_features = [0,1,5])
X_= onehotencoder.fit_transform(X_).toarray()

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [235]:
X_.shape

(45019, 22)

In [236]:
X_= MinMaxScaler().fit_transform(X_)

In [237]:
X_.shape

(45019, 22)

In [238]:
rfc_pred = rfc.predict(X_)

In [239]:
rfc_pred

array([0, 0, 0, ..., 0, 0, 0])

In [240]:
final_submission = pd.DataFrame(data={'TransactionId':test.TransactionId, 'FraudResult':rfc_pred})

In [241]:
final_submission.to_csv('submission.csv', index=False)