In [284]:
import pandas as pd
train = pd.read_csv('training.csv.xls')

In [285]:
train.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15T02:18:49Z,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15T02:19:08Z,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15T02:44:21Z,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,2018-11-15T03:32:55Z,2,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15T03:34:21Z,2,0

In [286]:
def format_dt(x):
    x = str(x)
    x = x.replace('T',' ')
    x = x.replace('Z','')
    return x
train.TransactionStartTime = train.TransactionStartTime.map(format_dt)

In [287]:
train.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15 02:18:49,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15 02:19:08,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15 02:44:21,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,2018-11-15 03:32:55,2,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15 03:34:21,2,0

In [288]:
train.TransactionStartTime = pd.to_datetime(train.TransactionStartTime, format='%Y-%m-%d %H:%M:%S')

In [289]:
train.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15 02:18:49,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15 02:19:08,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15 02:44:21,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,2018-11-15 03:32:55,2,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15 03:34:21,2,0

In [290]:
cols = train.columns
train.shape
cols

Index(['TransactionId', 'BatchId', 'AccountId', 'SubscriptionId', 'CustomerId',
       'CurrencyCode', 'CountryCode', 'ProviderId', 'ProductId',
       'ProductCategory', 'ChannelId', 'Amount', 'Value',
       'TransactionStartTime', 'PricingStrategy', 'FraudResult'],
      dtype='object')

In [291]:
for i in cols:
    len(train.TransactionId.value_counts())
    print(i)
    exec("print(    len(train.%s.value_counts()))"%(i))

TransactionId
95662
BatchId
94809
AccountId
3633
SubscriptionId
3627
CustomerId
3742
CurrencyCode
1
CountryCode
1
ProviderId
6
ProductId
23
ProductCategory
9
ChannelId
4
Amount
1676
Value
1517
TransactionStartTime
94556
PricingStrategy
4
FraudResult
2

In [10]:
# Target distribution
#train.FraudResult.value_counts().plot(kind='bar')

In [12]:
#train.FraudResult.value_counts()

In [128]:
train = train.drop(['ProductId','ChannelId','TransactionStartTime'],axis=1)

In [129]:
train.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductCategory,Amount,Value,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,airtime,1000.0,1000,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,financial_services,-20.0,20,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,airtime,500.0,500,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,utility_bill,20000.0,21800,2,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,financial_services,-644.0,644,2,0

In [135]:
X.head()

,ProviderId,ProductCategory,Amount,Value,PricingStrategy,FraudResult
0,ProviderId_6,airtime,1000.0,1000,2,0
1,ProviderId_4,financial_services,-20.0,20,2,0
2,ProviderId_6,airtime,500.0,500,2,0
3,ProviderId_1,utility_bill,20000.0,21800,2,0
4,ProviderId_4,financial_services,-644.0,644,2,0

In [133]:
X = train.iloc[:,7:]

In [139]:
train.shape

(95662, 13)

In [141]:
non_fraud = X[X.FraudResult==0].drop_duplicates()
fraud = X[X.FraudResult==1]
ls = [non_fraud,fraud]

In [142]:
train = pd.concat(ls)

In [174]:
train.head(50)

,ProviderId,ProductCategory,Amount,Value,PricingStrategy,FraudResult
0,ProviderId_6,airtime,1000.00,1000,2,0
1,ProviderId_4,financial_services,-20.00,20,2,0
2,ProviderId_6,airtime,500.00,500,2,0
3,ProviderId_1,utility_bill,20000.00,21800,2,0
4,ProviderId_4,financial_services,-644.00,644,2,0
5,ProviderId_6,airtime,2000.00,2000,2,0
6,ProviderId_5,airtime,10000.00,10000,4,0
7,ProviderId_4,financial_services,-500.00,500,2,0
9,ProviderId_1,financial_services,600.00,600,2,0
10,ProviderId_6,airtime,890.00,890,2,0
11,ProviderId_4,financial_services,-40.00,40,2,0
13,ProviderId_3,financial_services,4000.00,4000,2,0
16,ProviderId_5,financial_services,500.00,500,2,0
17,ProviderId_6,data_bundles,1000.00,1000,2,0
18,ProviderId_4,financial_services,-10.00,10,2,0
19,ProviderId_5,airtime,500.00,500,4,0
20,ProviderId_4,financial_services,-25.00,25,2,0
27,ProviderId_6,tv,3500.00,3500,2,0
28,ProviderId_4,financial_services,-70.00,70,2,0
29,ProviderId_5,financial_services,2000.00,2000,2,0
31,ProviderId_4,financial_services,-100.00,100,2,0
32,ProviderId_5,financial_services,10000.00,10000,2,0
33,ProviderId_6,airtime,1500.00,1500,2,0
34,ProviderId_4,financial_services,-67.25,68,2,0
36,ProviderId_4,financial_services,-50.00,50,2,0
37,ProviderId_5,financial_services,2200.00,2200,2,0
39,ProviderId_5,financial_services,8000.00,8000,2,0
41,ProviderId_5,utility_bill,10000.00,11200,2,0
42,ProviderId_4,financial_services,-622.00,622,2,0
44,ProviderId_6,airtime,5000.00,5000,2,0
46,ProviderId_5,data_bundles,2000.00,2000,4,0
48,ProviderId_5,utility_bill,5000.00,5750,2,0
51,ProviderId_4,financial_services,-496.00,496,2,0
52,ProviderId_5,financial_services,30000.00,30000,2,0
55,ProviderId_6,airtime,1261.00,1261,2,0
56,ProviderId_1,financial_services,2000.00,2000,2,0
57,ProviderId_5,transport,41000.00,41000,2,0
58,ProviderId_3,airtime,2000.00,2000,1,0
65,ProviderId_6,airtime,3000.00,3000,2,0
66,ProviderId_4,financial_services,-150.00,150,2,0
67,ProviderId_6,utility_bill,5000.00,5750,2,0
70,ProviderId_6,airtime,3500.00,3500,2,0
71,ProviderId_4,financial_services,-175.00,175,2,0
75,ProviderId_3,airtime,10000.00,10000,1,0
78,ProviderId_1,financial_services,10500.00,10500,2,0
90,ProviderId_4,airtime,-1000.00,1000,4,0
93,ProviderId_6,airtime,600.00,600,2,0
108,ProviderId_4,financial_services,-30.00,30,2,0
110,ProviderId_5,financial_services,17000.00,17000,2,0
114,ProviderId_5,financial_services,15000.00,15000,2,0

In [144]:
X = train.iloc[:,:-1].values
y = train.iloc[:,-1].values

In [17]:
#train.iloc[:,12].value_counts()

In [147]:
X.shape

(3131, 5)

In [148]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_0 = LabelEncoder()
X[:, 0] = labelencoder_X_0.fit_transform(X[:, 0])
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 4] = labelencoder_X_2.fit_transform(X[:, 4])

In [149]:
onehotencoder = OneHotEncoder(categorical_features = [0,1,4])
X= onehotencoder.fit_transform(X).toarray()

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [150]:
X.shape

(3131, 21)

In [151]:
from sklearn.preprocessing import MinMaxScaler 
X= MinMaxScaler().fit_transform(X)

In [219]:
#X_test = MinMaxScaler().fit_transform(X_test)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 42)

In [220]:
sum(y_train_res==0)

85923

In [263]:
from sklearn.ensemble import RandomForestClassifier
# train model
rfc = RandomForestClassifier(n_estimators=1300).fit(X, y)

In [264]:
from sklearn.metrics import f1_score, accuracy_score, recall_score
from sklearn.metrics import confusion_matrix
# predict on test set
rfc_pred = rfc.predict(X_test)


print("Accuracy_score",accuracy_score(y_test, rfc_pred))

print("F1_score",f1_score(y_test, rfc_pred))

print("Recall score",recall_score(y_test, rfc_pred))
confusion_matrix(y_test, rfc_pred)

Accuracy_score 1.0
F1_score 1.0
Recall score 1.0

array([[302,   0],
       [  0,  12]])

In [265]:
test = pd.read_csv('test.csv.xls')

In [266]:
test.shape

(45019, 15)

In [267]:
for i in test.columns:
    len(test.TransactionId.value_counts())
    print(i)
    exec("print(    len(test.%s.value_counts()))"%(i))

TransactionId
45019
BatchId
44684
AccountId
2471
SubscriptionId
2470
CustomerId
5018
CurrencyCode
1
CountryCode
1
ProviderId
6
ProductId
26
ProductCategory
9
ChannelId
5
Amount
998
Value
944
TransactionStartTime
44018
PricingStrategy
4

In [268]:
test = test.drop(['ProductId','ChannelId','TransactionStartTime'],axis=1)

In [269]:
'''test.sort_values(by=['TransactionStartTime'],inplace=True)
test.reset_index(drop=True, inplace=True)
test['TransactionStartTime']=[i for i in range(test.shape[0])]'''
#test['TransactionStartTime'] = MinMaxScaler(feature_range = (0,test.shape[0]-1)).fit_transform(test.TransactionStartTime.to_frame())

"test.sort_values(by=['TransactionStartTime'],inplace=True)\ntest.reset_index(drop=True, inplace=True)\ntest['TransactionStartTime']=[i for i in range(test.shape[0])]"

In [270]:
test.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductCategory,Amount,Value,PricingStrategy
0,TransactionId_50600,BatchId_35028,AccountId_2441,SubscriptionId_4426,CustomerId_2857,UGX,256,ProviderId_5,airtime,1000.0,1000,4
1,TransactionId_95109,BatchId_45139,AccountId_3439,SubscriptionId_2643,CustomerId_3874,UGX,256,ProviderId_5,financial_services,2000.0,2000,2
2,TransactionId_47357,BatchId_74887,AccountId_4841,SubscriptionId_3829,CustomerId_2857,UGX,256,ProviderId_4,financial_services,-50.0,50,2
3,TransactionId_28185,BatchId_11025,AccountId_2685,SubscriptionId_4626,CustomerId_3105,UGX,256,ProviderId_5,airtime,3000.0,3000,4
4,TransactionId_22140,BatchId_29804,AccountId_4841,SubscriptionId_3829,CustomerId_3105,UGX,256,ProviderId_4,financial_services,-60.0,60,2

In [272]:
#test.head()

In [273]:
X_ = test.iloc[:,7:].values

In [274]:
X_.shape

(45019, 5)

In [275]:
X_[:, 0] = labelencoder_X_0.fit_transform(X_[:, 0])
X_[:, 1] = labelencoder_X_1.fit_transform(X_[:, 1])
X_[:, 4] = labelencoder_X_2.fit_transform(X_[:, 4])

In [276]:
onehotencoder = OneHotEncoder(categorical_features = [0,1,4])
X_= onehotencoder.fit_transform(X_).toarray()

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [277]:
X_.shape

(45019, 21)

In [278]:
X_= MinMaxScaler().fit_transform(X_)

In [279]:
X_.shape

(45019, 21)

In [280]:
rfc_pred = rfc.predict(X_)

In [281]:
rfc_pred

array([0, 0, 0, ..., 0, 0, 0])

In [282]:
final_submission = pd.DataFrame(data={'TransactionId':test.TransactionId, 'FraudResult':rfc_pred})

In [283]:
final_submission.to_csv('submission.csv', index=False)